name: Manual workflow
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: ceharsh24/gha-try
      - name: Send greeting
        run: echo "Hello There"
      - name: Reusable
        uses: ceharsh24/gha-try/.github/workflows/reusable-workflow.yml@main
    
