name: 'Reusable Workflow'
on:
  workflow_call:
    inputs:
      ref:
        description: "Ref"
        type:  string

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request_target' }}
jobs:
  output:
    name: "Workflow"
    runs-on: ubuntu-latest
    steps:
      - name: "Step-1"
        run: |
          echo ${{ github.workflow }}-${{ github.head_ref }}
          echo ${{ github.event.workflow_run.head }}
          echo "Verify"
