name: "Verify"
on:
  pull_request_target:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true
  
jobs:
  output:
    name: "Workflow"
    runs-on: ubuntu-latest
    steps:
      - name: Sleep for 30 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '30s'
      - name: "Step-1"
        run: |
          echo ${{ github.workflow }}-${{ github.head_ref }}
          echo "Verify"
